<div id="tables" class="strapped-example">

  <h2>Dashboard</h2>
  <div class="strapped-preview">

    <strapped-table>
      <thead>
        <th class="span6"><span>Repo</span></th>
        <th class="span3 num"><span>Completed tasks</span></th>
        <th class="span3 num"><span>Remaining tasks</span></th>
      </thead>
      <tbody>
        <tr class="repo repo-template">
          <td class="repo-name"></td>
          <td class="completed num"></td>
          <td class="remaining num"></td>
        </tr>
        <tr class="issues-template">
          <td colspan="3">
            <div class="issue issue-template">
              <a class="issue-name"></a> <span class="issue-meta">(Opened by <span class="author"></span> <span class="created-at"></span>)</span>
              <span class="status"></span>
            </div>
          </td>
        </tr>
      </tbody>
    </strapped-table>
  </div>
</div>
